.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.book-card {
  width: 180px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  background-color: #fff;
  text-align: center;
  transition: transform 0.2s;
  margin-top: 3rem;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-card img {
  width: 100px;
  height: 150px;
  object-fit: cover;
}
